body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d9dbdc;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: cover;
}

.gender,
.familyStatus,
.knowledgeLevel,
.languageLevel,
.driverLicense,
.militaryService {
  padding: 0px;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px;
  background-color: #8cb9bd;
  transition: border-color 0.3s ease;
}
.knowledgeLevel,
.languageLevel {
  margin: 1.5%;
  font-size: smaller;
  padding: 1%;
}

.startDate,
.endDate {
  padding: 10px;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  background-color: #8cb9bd;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px;
  transition: border-color 0.3s ease;
  height: 15%;
  width: 200px;
  &:hover {
    border-color: #8cb9bd;
  }
  &::placeholder {
    color: white;
  }
}
.buttonDiv {
  margin-left: 10%;
  padding-bottom: -50px;
  margin-top: -3%;
}

.AvazDGHedder {
  font-family: sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 0.7%;
  margin-left: 1%;
}

.DefaultImage2 {
  height: 50px;
  width: 70px;
}

.CVmainImage {
  height: 300px;
  width: 600px;
  margin-left: 50%;
  margin-top: 13%;
}

.optionImages {
  width: 20px;
  height: 20px;
}
.place {
  margin-top: -44%;
  margin-left: 95%;
}

.typewriter h1 {
  margin-top: 5%;
  margin-left: 1.5%;
  overflow: hidden;
  border-right: 0.15em solid;
  white-space: nowrap;
  letter-spacing: 1.7px;
  animation: typing 4s steps(50, end), blink-caret 0.7s step-end infinite;
  color: #004e64;
  width: 72%;
}
h2 {
  color: #004e64;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 72%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.fadeInAnimation {
  animation: fadeIn 0.2s ease-in-out;
}
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #8cb9bd;
}

::-webkit-scrollbar-thumb {
  background-color: #004e64;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

.PersonalDataDiv2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.3%;
  margin-left: 15%;
}

.PersonalDataDiv1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20%;
  margin-left: 15%;
}

.cell {
  flex: 1 0 24%; 
  margin: 2%;
  border: 1px solid white;
  padding: 1%;
  box-sizing: border-box; 
  text-align: center;
}
.cell2 {
  flex: 0 0 95%;
  margin: 2%; 
  border: 1px solid white; 
  padding: 1%;
  text-align: center; 
  height: 80px;
}

.Image {
  margin: 15px; 
  border: 1px solid #ddd; 
  padding: 10px; 
  text-align: center;
  margin-top: 5%;
}

.LanguageDiv {
  display: flex;
  flex-direction: row;
}

.LanguageKnowledgeDiv {
  width: 35%;
  margin-left: 5%;
}
.ComputerLanguageKnowledgeDiv {
  width: 35%;
  margin-left: 20%;
}

.workExperienceDivLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
}
.EducationDivLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
}
