body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d9dbdc;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: cover;
}

.gender,
.familyStatus,
.knowledgeLevel,
.languageLevel {
  padding: 0px;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  background-color: #8cb9bd;
  font-family: Sans-serif;
  transition: border-color 0.3s ease;
  width: 200px;
}

.startDate,
.endDate {
  padding: 10px;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  background-color: #8cb9bd;
  font-family: Sans-serif;
  transition: border-color 0.3s ease;
  width: 200px;
  &:hover {
    border-color: #8cb9bd;
  }
  &::placeholder {
    color: white;
  }
}
.buttonDiv {
  margin-left: 10%;
  padding-bottom: -50px;
  margin-top: -3%;
}

.AvazDGHedder {
  font-family: sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 0.7%;
  margin-left: 1%;
}

.DefaultImage2 {
  height: 50px;
  width: 70px;
}

.CVmainImage {
  height: 300px;
  width: 600px;
  margin-left: 50%;
  margin-top: 13%;
}

.optionImages {
  width: 20px;
  height: 20px;
}
.place {
  margin-top: -44%;
  margin-left: 95%;
}

.typewriter h1 {
  margin-top: 5%;
  margin-left: 1%;
  overflow: hidden;
  border-right: 0.15em solid;
  white-space: nowrap;
  letter-spacing: 1.7px;
  animation: typing 3s steps(25, end), blink-caret 0.7s step-end infinite;
  color: #004e64;
}
h2 {
  color: #004e64;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.fadeInAnimation {
  animation: fadeIn 0.2s ease-in-out;
}
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #8cb9bd;
}

::-webkit-scrollbar-thumb {
  background-color: #004e64;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

.PersonalDataDiv2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.3%;
  margin-left: 15%;
}

.PersonalDataDiv1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20%;
  margin-left: 15%;
}

.cell {
  flex: 1 0 24%; /* Three columns, each taking 33.33% width */
  margin: 2%;
  border: 1px solid #ddd;
  padding: 1%;
  box-sizing: border-box; /* Include padding and border in the total width */
  text-align: center;
  height: 15%;
}
.cell2 {
  flex: 0 0 95%; /* Two columns, adjust width as needed */
  margin: 2%; /* Adjust margin for spacing between cells */
  border: 1px solid #ddd; /* Add borders for better visibility */
  padding: 1%; /* Add padding for spacing inside cells */
  text-align: center; /* Center content inside cells */
  height: 80px;
}

.Image {
  margin: 15px; /* Adjust margin for spacing between cells */
  border: 1px solid #ddd; /* Add borders for better visibility */
  padding: 10px; /* Add padding for spacing inside cells */
  text-align: center; /* Center content inside cells */
  margin-top: 5%;
}

.LanguageDiv {
  display: flex;
  flex-direction: row;
}
.workExperienceDiv {
  display: block;
}
.LanguageKnowledgeDiv {
  width: 35%;
  margin-left: 4%;
}
.ComputerLanguageKnowledgeDiv {
  width: 35%;
  margin-left: 20%;
}
